:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --wite-color: #ffffff;
  --accent-color: #2196f3;
  --hero-btn-hover-bg-color: #188ce8;
  --background-color: #2f303a;
  --button-color: #f5f4fa;
  --social-icons-color: #afb1b8;
  --title-area-bg-color: rgba(47, 48, 58, 0.8);
  --portfolio-overlay: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --section-padding: 94px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  border: 0;
}

span {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  background-color: var(--wite-color);
}

.link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  bottom: -40px;
  display: block;
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.title {
  color: var(--title-text-color);
}

.btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 0px;
  padding: 10px 32px;
  border-radius: 4px;
  width: auto;
  height: 50px;
  color: var(--wite-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
}

.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--wite-color);
  opacity: 1;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .modal .btn-close {
  position: absolute;
  z-index: 999;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  cursor: pointer;
}

.btn-close:hover .icon-close {
  fill: var(--accent-color);
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.hero-modal-form .button:hover,
.hero-modal-form .button:focus {
  background-color: var(--hero-btn-hover-bg-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero-modal-form .title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: calc(23.44 / 20);
  letter-spacing: 0.03em;
  text-align: center;
}

.modal-label {
  margin-bottom: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: calc(14.06 / 12);
  letter-spacing: 0.01em;
}

.textarea-label {
  margin-bottom: 20px;
  background-image: url(../images/check.svg);
}

.modal-fild {
  margin-top: 4px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area {
  padding: 12px 16px;
  resize: none;
  height: 120px;
}

.modal-icon {
  position: absolute;
  margin-left: 12px;
  bottom: 11px;
  left: 0;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-fild:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.modal-fild:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  cursor: pointer;
}

.agreement-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 9px;
  background-size: cover;
  width: 16px;
  height: 15px;
  background-image: url(../images/unchecked.svg);
}

.checkbox-in:checked + .checkbox-icon {
  background-image: url(../images/cheked.svg);
}

.checkbox-in {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.header {
  border-bottom: 1px solid #c4c4c4;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 93px;
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}
.header__item:last-child {
  margin: 0;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header.section {
  --section-padding: 32px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

.envelope {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover .envelope, .link:focus .envelope {
  fill: var(--accent-color);
}

.smartphone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover .smartphone, .link:focus .smartphone {
  fill: var(--accent-color);
}

.footer {
  --section-padding: 60px;
  background-color: var(--background-color);
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address {
  margin-right: 70px;
  min-width: 231px;
}
.address__box {
  margin-top: 20px;
}
.address__link {
  font-family: Roboto, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address__link--light {
  color: var(--wite-color);
}
.address__item {
  margin-bottom: 9px;
}
.address__item:last-child {
  margin: 0;
}

.social-net-footer__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 3%;
  color: var(--wite-color);
}

.footer-form {
  width: 100%;
  margin-top: 12px;
  margin-left: 93px;
}
.footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16.41 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite-color);
}
.footer-form__fild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 12px;
}
.footer-form__input {
  padding-left: 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--wite-color);
}
.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
}
.footer-form__btn:hover, .footer-form__btn:focus {
  background-color: var(--hero-btn-hover-bg-color);
}
.footer-form__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--wite-color);
}

.logo {
  font-family: Raleway, sans-serif;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo__part {
  color: var(--accent-color);
}
.logo__light-part {
  color: var(--wite-color);
}

.social-net-footer {
  margin-top: 12px;
}

.social-net-footer .social-net__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-net-footer .social-net__link:hover,
.social-net-footer .social-net__link:focus {
  background-color: var(--accent-color);
}

.social-net-footer .social-net__icon {
  fill: var(--wite-color);
}

.social-net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-net__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}
.social-net__item:last-child {
  margin: 0;
}
.social-net__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  height: 100%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-net__link:last-child {
  margin: 0;
}
.social-net__link:hover, .social-net__link:focus {
  background-color: var(--accent-color);
}
.social-net__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icons-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-net__link:hover .social-net__icon, .social-net__link:focus .social-net__icon {
  fill: var(--wite-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/hero-bg.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color);
  max-width: 1600px;
}

.hero-title {
  margin-bottom: 30px;
  color: var(--wite-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
}

.hero-button:hover {
  background-color: var(--hero-btn-hover-bg-color);
  -webkit-box-shadow: 0px 4px 4px 0px #00000026;
          box-shadow: 0px 4px 4px 0px #00000026;
}

.skills-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.description .text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.skills {
  margin-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
}

.skills:last-child {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: 0;
}

.skills:first-child {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
  margin-left: auto;
}

.icon-skill {
  width: 70px;
  height: 70px;
}

.icon-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--button-color);
}

.what-we-do {
  padding-top: 0;
}

.demo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.demo-list {
  position: relative;
  margin-right: 30px;
}

.demo-list:last-child {
  margin-right: 0;
}

.img-demo {
  display: block;
}

.title-area {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--title-area-bg-color);
}

.title-area .title {
  font-size: 14px;
  line-height: calc(16.41 / 14);
  letter-spacing: 0.03em;
  color: var(--wite-color);
  text-transform: uppercase;
}

.second-title {
  margin-bottom: 50px;
  margin-top: 0;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.team-list-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team .text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.team-box {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.team {
  background-color: var(--button-color);
}

.team-list {
  margin-right: 30px;
  text-align: center;
  background-color: var(--wite-color);
  -webkit-box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
          box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team-list:last-child {
  margin: 0;
}

.client-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-list {
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.client-list:last-child {
  margin: 0;
}

.icon-client {
  widows: 106px;
  height: 60px;
  fill: var(--social-icons-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--social-icons-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus,
.client-link:hover .icon-client,
.client-link:focus .icon-client {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.radio-button {
  border: 0;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio-button:hover,
.radio-button:focus {
  color: var(--wite-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001a;
          box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014, 0px 3px 1px 0px #0000001a;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  /* outline: 2px solid green; */
}

.portfolio-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  /* outline: 2px solid green; */
}

.button-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  padding-bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-list {
  margin-right: 8px;
}

.button-list:last-child {
  margin-right: 0;
}

.exempls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0;
}

.exemples-list {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.exemples-list:nth-child(3n) {
  margin-right: 0;
}

.exemples-list:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.exemples-link {
  display: block;
  height: 100%;
  border: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exemples-link:hover,
.exemples-link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
          box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f, 0px 1px 1px 0px #0000001f;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.poster-text {
  padding: 20px 24px;
}

.portfolio-img-box {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  padding: 63px 24px;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-overlay);
  -webkit-transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exemples-link:hover .portfolio-overlay,
.exemples-link:focus .portfolio-overlay {
  top: 0;
}

.portfolio-overlay .text {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--wite-color);
}/*# sourceMappingURL=main.css.map */