.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color);
  max-width: 1600px;

  &__title {
    margin-bottom: 30px;
    color: var(--wite-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
  }

  &__btn:hover {
    background-color: var(--hero-btn-hover-bg-color);
    box-shadow: 0px 4px 4px 0px #00000026;
  }
}
