.what-we-do {
  padding-top: 0;

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__title-area {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 70px;

    background-color: var(--title-area-bg-color);
  }

  &__title {
    font-size: 14px;
    line-height: calc(16.41 / 14);
    letter-spacing: 0.03em;
    color: var(--wite-color);
    text-transform: uppercase;
  }
}
